{{#if css}} //skip -> alias css -> {{css}} {{/if}}
{{#if deps}} //deps -> {{deps}} {{/if}}
{{#if args}} //args -> {{args}} {{/if}}

(function ({{deps}}, factory) {
    if (typeof define === 'function' && define.amd) {
      define('{{{name}}}', [{{#sequence join escape deps css}}{{/sequence}}], factory)
     } else {
      factory({{deps}})
    }
}}({{args}}, function ({{deps}}) {
  {{{code}}}
}));
