{{#if css}} //skip -> alias css -> {{css}} {{/if}}
{{#if deps}} //deps -> {{deps}} {{/if}}
{{#if args}} //args -> {{args}} {{/if}}


(function (exports, factory) {
    if (typeof define === 'function' && define.amd) {
      define('{{{name}}}', [{{#sequence join escape deps css}}{{/sequence}}], factory)
     } else {
      factory({{globals}})
    }
}}(this, function ({{args}}) {
  {{{code}}}
}));
