  {
    "baseUrl": "."
    , "name": "main"
    , "out": "./dist.out"
    , "optimize": "none"
    , "injectGlobals": ["this"]
    , "customGlobals": ["demo1"]
    , "initializeGlobals": ["demo1"] 
    , "attachToGlobal": [{"lib":"one", "global":"demo1"}]
    , "removeDeps": ["jquery", "d3", "\\$"]
    , "exclude-libs": ["d3","jquery"]
  }
