  {
    "baseUrl": "."
    , "name": "main"
    , "out": "./build.js"
    , "optimize": "none"
    , "injectGlobals": ["this","d3", "$"]
    , "customGlobals": ["demo1"]
    , "initializeGlobals": ["demo1", "$", "d3"] 
    , "attachToGlobal": [{"lib":"one", "global":"demo1"}]
    , "removeDeps": []
    , "shim": {
      "jquery":{"exports":"$"}
    }
    , "exclude-libs": ["d3","jquery"]
    , "amd-module-name": "namespace/demo1"
  }
