  {
    "baseUrl": "example/demo1/"
    , "name": "main"
    , "out": "./build.js"
    , "export":  
        { "outside/comp1": 
            { "amd": "namespace/demo1/comp1"
            , "global": "demo1"}
        , "deps/four": 
            { "amd": "namespace/demo1/comp1"
            , "global": "demo1"}
        }
    , "resolve": 
        { "this":
          { "as": "parent"
          , "inject": true
          }
        , "d3": 
          { "safe": true
          , "external": true 
          , "global": "common"
          }
        , "jquery": 
          { "safe": true
          , "external": true 
          , "as": "$"
          , "global": "common"
          }
        , "namespace/comp1":
          { "safe": true
          , "external": true
          , "as": "ddeemmoo"
          , "global": "common"
          }
        , "outside/comp1":
          { "as": "matcher"
          , "path": "../vendor/comp"
          , "external": false
          }
        , "demo1":
          { "safe": true }
        }
  }
