  { "base": "lib"
  , "main": "main.js"
  , "output": "dist.js"
  , "wrapper": "umd/amd-web"
  , "name": "my-component"
  , "exports": "one"
  , "namespace": "ns"
  , "dependencies":
    { "resolve": {
        "^(css\/?)*!": "skip:css",
        "^(domReady\/?)!": "skip"
      }
      , "references": {
        "jquery": "parent.$"
      , "exports": "parent['ns']"
      , "dep/dep": "parent['ns'].dep"
      }
    }
  }
