  { "name": "main"
  , "out": "./build.js"
  , "verbose": true
  , "export":
    { "three" : { "global": "demo1"},
      "outside/comp1":
      { "amd": "namespace/demo1/comp1"
      , "global":
        { "name": "demo1"
        , "init": true}
      }
    , "one": { "amd":"namespace/demo1/one"}
    , "deps/four":
      { "amd": "namespace/demo1/four"
      , "global": "demo1"
      }
    }
  , "resolve":
    { "this":
      { "as": "parent"
      , "inject": true
      }
    , "d3/d3":
      { "external": true
      , "inject": true
      , "as" : "d3"
      , "global":"common"
      }
    , "jquery":
      { "external": true
      , "inject": true
      , "as": "$"
      }
    , "namespace/comp1":
      { "external": true
      , "as": "ddeemmoo"
      , "global": "common"
      }
    , "outside/comp1":
      { "as": "matcher"
      , "path": "../vendor/comp"
      , "external": false
      }
    , "text/text": {"as":"text"}
    }
  }
