  { "name": "main"
  , "out": "./build.js"
  , "export":  
    { "outside/comp1": 
      { "amd": "namespace/demo1/comp1"
      , "global": 
        { "name": "common"
        , "init": true}
      }
    , "deps/four": 
      { "amd": "namespace/demo1/comp1"
      , "global": "demo1"
      }
    }
  , "resolve": 
    { "this":
      { "as": "parent"
      , "inject": true
      }
    , "d3/d3": 
      { "external": true
      , "inject": true
      , "as" : "d3"
      , "global":"common"
      }
    , "jquery": 
      { "external": true
      , "inject": true
      , "as": "$"
      }
    , "namespace/comp1":
      { "external": true
      , "as": "ddeemmoo"
      , "global": "common"
      }
    , "outside/comp1":
      { "as": "matcher"
      , "path": "../vendor/comp"
      , "external": false
      }
    }
  }
