  {
    "baseUrl": "."
    , "name": "main"
    , "out": "./build.js"
    , "module-name": "namespace/demo1"
    , "inject": 
        { "this":
          { "as": "parent"
          , "attach": ["one"]
          }
        , "d3": 
          { "safe": true
          , "external": true 
          , "global": "common"
          }
        , "jquery": 
          { "safe": true
          , "external": true 
          , "as": "$"
          , "global": "common"
          }
        , "namespace/comp1":
          { "safe": true
          , "external": true
          , "as": "ddeemmoo"
          , "global": "common"
          }
        , "outside/comp1":
          { "as": "matcher"
          , "path": "../vendor/comp"
          , "external": false
          }
        , "demo1":
          { "safe": true
          , "attach": ["one"]
          }
        }
  }
