(function (parent, factory){
  if (typeof exports === 'object') {
    module.exports = factory(<%=
           _.map(external, function(d){ return "require('" + d + "')" }).join(',') %>)
  } else {
    <% _.chain(external)
        .map(function(d) { return 'var ' + util.escape(d) + " = " + " parent." + util.global(d) })
        .each(function(name) {;
    %><%= name %>
    <%})%>

    <%= util.toGlobal(['parent'].concat(config.names.global.split('.')), "factory("+_.map(external, util.escape).join(',') + ")") %>

    if (typeof define === 'function' && define.amd)
      define('<%- config.names.amd %>', [<%= 
             _.map(external, function(d){ return "'" + d + "'" }).join(',') %>], parent.<%= config.names.global %>)
  }
  }(this, function (<%= _.map(external, util.escape).join(',') %>) {
  var closure = {}
  <% _.chain(external)
      .map(function(d) { return "closure['" + d + "'] = " + util.escape(d) })
      .each(function(name) {;
  %><%= name %>
  <%})%>
var __req = <%= util.getTemplate('default', ['closure']) %>
return __req('<%= config.returns %>')

}.bind({})))
