(function (parent, factory){
  if (typeof exports === 'object') {
    module.exports = factory(<%=
           _.map(external, function(d){ return "require('" + d + "')" }).join(',') %>)
  } else {
    var hasAMD = typeof define === 'function' && define.amd
    var __req = (hasAMD && require) || function(name) { throw new Error('Missing external dep: ' + name); }

    <% _.chain(external)
        .map(function(d) { return 'var ' + util.escape(d) + " = " + " parent['" + d + "'] || parent['" + util.global(d) + "'] || window['" + util.global(d) + "'] || window['" + d + "'] || __req('" + d + "')" })
        .each(function(name) {;
    %><%= name %>
    <%})%>
    var __f = factory(<%= _.map(external, util.escape).join(',') %>) 
    <%= util.toGlobal(['parent'].concat(config.names.global.split('.')), '__f') %>
    if (hasAMD) define('<%- config.names.amd %>', function() { return __f })
  }
  }(this, function (<%= _.map(external, util.escape).join(',') %>) {
  var closure = {}
  <% _.chain(external)
      .map(function(d) { return "closure['" + d + "'] = " + util.escape(d) })
      .each(function(name) {;
  %><%= name %>
  <%})%>
var __req = <%= util.getTemplate('default', ['closure']) %>
return __req('<%= config.returns %>')

}.bind({})))
