(function (<%= _.map(['parent'].concat(external), util.escape).join(',') %>) {

var closure = {}

<% _.chain(external)
    .map(function(d) { return "closure['" + d + "'] = " + util.escape(d) })
    .each(function(name) {;
%><%= name %>
<%})%>
var __req = <%= util.getTemplate('default', ['closure']) %>
<% if(config.returns) {%> return __req('<%= config.returns %>') <%} else {%> return __req <% } %>

}.call({},<%= _.map(['this'].concat(external), util.global).join(',') %>))
