(function (parent,<%= _.map(external, util.escape).join(',') %>) {

var closure = {}

<% _.chain(external)
    .map(function(d) { return "closure['" + d + "'] = " + util.escape(d) })
    .each(function(name) {;
%><%= name %>
<%})%>
var require = <%= util.getTemplate('default', ['closure']) %>
<% if(config.returns) {%> return require('<%= config.returns %>') <%} else {%> return require <% } %>

}.call({},this,<%= _.map(external, util.global).join(',') %>))
