(function (parent, factory){
  if (typeof define === 'function' && define.amd) {
    define('<%- config.name %>', [<%= 
           _.map(external, function(d){ return "'" + d + "'" }).join(',') %>], factory)
  } else if (typeof exports === 'object') {
    module.exports = factory(<%=
           _.map(external, function(d){ return "require('" + d + "')" }).join(',') %>)
  } else {
  <% _.chain(external)
      .map(function(d) { return 'var ' + util.escape(d) + " = " + util.global(d) })
      .each(function(name) {;
  %>  <%= name %>
  <%})%>
    parent['<%= config.name %>'] = factory(<%= _.map(external, util.escape).join(',') %>)
  }
  }(this, function (<%= _.map(external, util.escape).join(',') %>) {
    var window = this;
  <% _(external).map(util.escape).each(function(d) { %>  this.<%= d %> = <%= d %>; 
  <% }) %>
  <% _.each(bundles, function(b) { %>
    <% if(!b.wrap) { %>(function() {
      <%= b.content %>;
    }).call(this);
    <% return 
    } else { 
    %>
    (function(context) {
      context['<%= b.name %>'] = (function(scope) { <% } %>
      <% _.each(b.code, function(c) { 
      if(c.ext === '.js') { %>
        <% if(c.type === 'iife') { %>
          <%= c.content %>
        <% } else { %>
          scope['<%= c.name %>'] = (function(exports) { <%= c.content %> return exports })({});
        <% }} else { %>
        scope['<%= c.name %>'] = <%= c.content %>
    <% }}) %>
        return require('<%= b.returns %>')
        function require(name) { return scope[name] || context[name] }
      })({});
    })(this);
  <% }) %>

  <% if(config.returns) {%> return this['<%= config.returns %>']
  <%} else {%> return this <% } %>

}.bind({})))
