{
    "baseUrl": "."
    , "name": "lib"
    , "out": "./lib.out"
    , "optimize": "none"
    , "optimizeAllPluginResources": "true"
    , "injectGlobals": ["this"]
    , "customGlobals": ["demo3"]
    , "initializeGlobals": ["demo3"] 
    , "attachToGlobal": [{"lib":"lib", "global":"demo3"}]
    , "amd-module-name": "ns/lib"
    , "exclude-libs" : ["text"]
    , "exclude-folder": "vendor"
  }
